<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tit }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>
<body>
    <h1>{{ tit }}</h1>
    <table>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        {% for key,val in res.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ val }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'home' %}"><button>Home Page</button></a>
</body>
</html>